@use 'sass:list';
@use './variables' as variables;

$available-sizes: variables.$available-sizes !default;
$icon-colors-list: variables.$icon-colors-list !default;

.icon {
  fill: currentColor;
  vertical-align: middle;

  &.is-small {
    width: 20px;
    height: 20px;
  }

  &.is-default {
    width: 24px;
    height: 24px;
  }

  &.is-medium {
    width: 32px;
    height: 32px;
  }

  &.is-large {
    width: 40px;
    height: 40px;
  }

  &.is-clickable {
    cursor: pointer;
  }

  @each $name, $color in $icon-colors-list {
    &.is-#{'' + $name} {
      color: $color !important;
    }
  }

  @each $name, $pair in $available-sizes {
    $size: list.nth($pair, 1);
    &.is-#{'' + $name} {
      width: $size;
      max-width: $size;
      height: $size;
      max-height: $size;
    }
  }
}
